<app-header></app-header> 
<app-footer></app-footer>

<div>
    <button type="button" class="btn btn-primary" (click)="enable = (enable == true) ? false : true">{{enable ? 'Show' : 'Hide'}}</button>
</div>

<div class="card" *ngIf="enable">
    <div class="card-header">
        Lista de cursos
    </div> 
        <ul class="list-group" *ngFor="let curso of listaDeCursos">
            <li class="list-group-item">
                {{curso}}
            </li>
        </ul>
</div>

<router-outlet></router-outlet>
